@using MadWorld.FlightSimulator.IOS.Components

@page "/PanelMaximum"

<div class="row">
    <div class="col">
        <span class="panel-menu-button oi oi-fullscreen-enter" aria-hidden="true" @onclick="OpenPanelMinimum"></span>
    </div>
</div>

<PanelPage />