@using MadWorld.FlightSimulator.IOS.Components

@page "/PanelMinimum"

@layout EmptyLayout

<div class="row">
    <div class="col">
        <span class="panel-menu-button oi oi-fullscreen-exit" aria-hidden="true" @onclick="OpenPanelMaximum"></span>
    </div>
</div>

<PanelPage />
