<style>
    body {
        background-color: #0085ad;
    }
</style>

@if (HasError)
{
    <div class="row">
        <div class="col">
            <div class="alert alert-danger" role="alert">
                The connection couldn't establish
            </div>
        </div>
    </div>
}

@if (!Connected)
{
    <div class="row">
        <div class="col">
            <button @onclick="Connect">Connect with Flight Simulator</button>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    Information
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <p>Altitude: @airplaneInfo.Altitude</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    Auto Pilot
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <p>Set Altitude: @airplaneInfo.AutoPilotAltitude</p>
                        </div>
                    </div>
                    <div class="row gy-5">
                        <div class="col">
                            <button class="btn-remove-style" @onclick="ChangeAutoPilot">
                                <div class="panel-button @GetButtonClass(airplaneInfo.IsAutoPilotOn)">
                                    <p>AP</p>
                                </div>
                            </button>
                        </div>
                        <div class="col">
                            <button class="btn-remove-style" @onclick="IncreaseAltitudeByThousand">
                                <div class="panel-button panel-button-default">
                                    <p>
                                        Increase altitude<br>
                                        By 1000 ft
                                    </p>
                                </div>
                            </button>
                        </div>
                        <div class="col">
                            <button class="btn-remove-style" @onclick="DecreaseAltitudeByThousand">
                                <div class="panel-button panel-button-default">
                                    <p>
                                        Decrease altitude<br>
                                       By 1000 ft
                                    </p>
                                </div>
                            </button>
                        </div>
                        <div class="col">
                            <button class="btn-remove-style" @onclick="IncreaseAltitudeByHundert">
                                <div class="panel-button panel-button-default">
                                    <p>
                                        Increase altitude<br>
                                        By 100 ft
                                    </p>
                                </div>
                            </button>
                        </div>
                        <div class="col">
                            <button class="btn-remove-style" @onclick="DecreaseAltitudeByHundert">
                                <div class="panel-button panel-button-default">
                                    <p>
                                        Decrease altitude<br>
                                        By 100 ft
                                    </p>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    COM Radio
                </div>
                <div class="card-body">
                    <div class="row gy-5">
                        @for (int i = 0; i < 10; i++)
                        {
                            int choiceNumber = i;

                            <div class="col">
                                <button class="btn-remove-style" @onclick="e => SelectAtcOption(e, choiceNumber)">
                                    <div class="panel-button panel-button-default">
                                        <p>
                                            Select <br> Choice @choiceNumber
                                        </p>
                                    </div>
                                </button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}
