@page "/"

@if (HasError)
{
    <div class="alert alert-danger" role="alert">
        The connection couldn't establish
    </div>
}

@if (!Client.IsConnected)
{
    <button @onclick="Connect">Start SimClient</button>
}
else
{
    <p>Name: @AirplaneInfo.title</p>

    <p>Altitude: @AirplaneInfo.altitude AutoPilot: @AirplaneInfo.autopilotMaster On the ground: @AirplaneInfo.onGround</p>

    <p>Sim Client started</p>

    <button @onclick="Disconnect">Stop SimClient</button>
}
